<template>
  <div id="loginBox">
    <div class="rows">
      <div class="row">
        <div class="columns">
          <div class="column is-centered">
            <img style="height: auto; width: 256px" src="../../assets/doctor.png" alt="Logo"/>
          </div>
        </div>
      </div>
      <form @submit.prevent="() => prevent()">
        <div class="row">
          <div class="columns is-centered">
            <div class="column is-6">
              <V-Card>Melden Sie sich mit Ihrem Kürzel und Passwort an!</V-Card>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="columns is-centered">
            <div class="column is-6">
              <V-Card>
                <V-Field>
                  <V-Control>
                    <input v-model="username" type="text" class="input" placeholder="Benutzername"/>
                  </V-Control>
                </V-Field>
                <V-Field>
                  <V-Control>
                    <input v-model="password" type="password" class="input" placeholder="Passwort"/>
                  </V-Control>
                </V-Field>
              </V-Card>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="columns is-centered">
            <div class="column">
              <V-Button @click="() => login()" color="warning">Anmelden</V-Button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import UserApiService from "../../services/UserApiService";
import {UserLoginRequest} from "../../services/dto/UserLoginRequest";

import {
  setToken,
  setAuthenticated
} from '../../stores/users';
import {useRouter} from 'vue-router'

const router = useRouter();

const username = ref('');
const password = ref('');

const login = () => {
  let userLoginRequest = new UserLoginRequest(username.value, password.value);

  UserApiService.login(userLoginRequest).then((response) => {
    if (response.status === 200) {
      setAuthenticated(true);
      setToken(response.data.token);

      router.push({name: "dashboard-overview"});
    }
  })
}

const prevent = () => {
}

</script>
