<template>
  <!-- Content Wrapper -->
  <div class="view-wrapper">
    <div class="page-content-wrapper">
      <div class="page-content is-relative">
        <RouterView v-slot="{ Component }">
          <transition name="translate-page-x" mode="out-in">
            <component :is="Component"/>
          </transition>
        </RouterView>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {useRoute} from 'vue-router'

const route = useRoute()

</script>
